.eps-card {
    margin-bottom: 1.5rem;
    padding: 0rem;

    &__content {
        display: flex;
        padding: 0rem;
        align-items: flex-start;
    }

    &__roleName {
        margin-top: 0.5rem;
        margin-bottom: 24px;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        color: #4c6272;
    }

    &__siteAddress {
        text-align: left;
        color: #4c6272;
        margin-top: 0.5rem;
        font-size: 1rem;
        line-height: 1.5;

        &-line {
            display: block;
        }
    }

    &__link {
        background-color: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0 4px 0 0 #d8dde0;
        display: block;
        height: 100%;
        position: relative;
        text-decoration: none;
    }

    .nhsuk-grid-column-two-thirds {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.site-card {
    margin-bottom: 16px;
    margin-top: 16px;
}

.site-card .content {
    overflow-wrap: break-word;
    padding: 16px;
    padding-bottom: 8px;
    margin: 0;
}

.site-card-column {
    padding: 16px;
    padding-top: 0px;
}

.site-card-column>.site-card:last-child {
    margin-bottom: 48px;
}

.data-field__content--address {
    color: rgb(76, 98, 114);
}
