.eps-card {
    margin-bottom: 0rem;
    padding: 0rem;

    &__content {
        display: flex;
        padding: 0rem;
        align-items: flex-start;
    }

    &__layout {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__address {
        text-align: right;
        margin-left: 20px;
    }

    &__org-focus-area {
        outline: none;
        color: #005eb8;
        cursor: pointer;
        position: relative;
        display: block;
        
        &:hover {
            .eps-card__org-name {
                color: #7c2d12;
                text-decoration: none;
            }
        }
        
        &:focus {
            outline: none;
            background-color: transparent;
            // black border on bottom, plus increased yellow on top to cover the border when text doesnt overhang
            .eps-card__org-name {
                outline: 3px solid transparent;
                background-color: #ffeb3b;
                box-shadow: 0 -4px #ffeb3b, 0 4px #212b32;
                text-decoration: none !important;
                text-underline-offset: 0 !important;
                color: #212b32;
                display: inline;
                
                // Responsive: add 1px more padding on smaller screens
                @media (max-width: 768px) {
                    box-shadow: 0 -5px #ffeb3b, 0 5px #212b32;
                }
                
                .nhsuk-heading-s {
                    color: #212b32;
                    text-decoration: none !important;
                    text-underline-offset: 0 !important;
                }
            }
        }
        
        &:focus:hover {
            .eps-card__org-name {
                color: #212b32 !important;
                
                .nhsuk-heading-s {
                    color: #212b32;
                }
            }
        }
    }

    &__org-name {
        color: #005eb8;
        cursor: pointer;
        text-decoration: underline !important;
        text-decoration-thickness: 2px !important;
        text-underline-offset: 2px !important;
        
        .nhsuk-heading-s {
            font-size: 1.1875rem;
            text-decoration: underline !important;
            text-decoration-thickness: 2px !important;
            text-underline-offset: 2px !important;
        }
    }

    &__roleName {
        margin-top: 0.5rem;
        margin-bottom: 24px;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        color: #4c6272;
    }

    &__siteAddress {
        text-align: left;
        color: #4c6272;
        margin-top: 0.5rem;
        font-size: 1rem;
        line-height: 1.5;

        &-line {
            display: block;
        }
    }



    &__link {
        background-color: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0 4px 0 0 #d8dde0;
        display: block;
        height: 100%;
        position: relative;
        text-decoration: none;
    }

    .nhsuk-grid-column-two-thirds {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.data-field__content--address {
    color: rgb(76, 98, 114);
}

.break-word {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.nhs-screening-whole-timeline {
    position: relative;
    padding-left: 0.5rem;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 5px;
        height: 102%;
        background-color: #005eb8;
    }
}

.nhs-screening-whole-timeline__item {
    position: relative;
    padding-left: 1rem;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -5px;
        width: 12px;
        height: 5px;
        background-color: #005eb8;
    }
}

.nhsuk-details__text {
    border-left: 4px solid #d8dde0;
    margin-top: 8px;
    padding: 16px;
    padding-left: 20px;
}

.container-details-page {
    margin-left: 64px;
    margin-right: 64px
}

@media (min-width: 40.0625em) {
    .nhs-screening-whole-timeline__description {
        font-size: 1rem;
        line-height: 1.25;
        margin-top: 20px;
    }
}

.error-message-stack .nhsuk-error-message:not(:last-child) {
    margin-bottom: 2px;
}

@media (max-width: 640px) {
    .eps-card {
        &__org-name {
            .nhsuk-heading-s {
                font-size: 1rem;
            }
        }
        
        &__content {
            flex-direction: column;
        }
    }
}

.nhsuk-card[tabindex]:focus {
    outline: none;
    background-color: transparent;
    
    .eps-card__org-name {
        outline: 3px solid transparent;
        background-color: #ffeb3b;
        box-shadow: 0 -4px #ffeb3b, 0 4px #212b32;
        text-decoration: none !important;
        text-underline-offset: 0 !important;
        color: #212b32;
        display: inline;
        
        @media (max-width: 768px) {
            box-shadow: 0 -5px #ffeb3b, 0 5px #212b32;
        }
        
        .nhsuk-heading-s {
            color: #212b32;
            text-decoration: none !important;
            text-underline-offset: 0 !important;
        }
    }
}

.nhsuk-card[tabindex]:hover {
    .eps-card__org-name {
        color: #7c2d12;
        text-decoration: none;
        
        .nhsuk-heading-s {
            color: #7c2d12;
            text-decoration: none;
        }
    }
}

.nhsuk-card[tabindex]:focus:hover {
    .eps-card__org-name {
        color: #212b32;
        
        .nhsuk-heading-s {
            color: #212b32;
        }
    }
}
