.chargeable-status-banner--green {
  background-color: #007f3b;
  color: #fff;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  font-size: 19px;
}

.chargeable-status-banner-link {
  color: #fff;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: #fff;
  }

  text-decoration: underline;
}

.nhsuk-cookie-banner-heading {
font-size: 2rem;
padding-top: 24px;
}

.nhsuk-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-breadcrumb__item {
  padding-bottom: 20px;
}

.bottomPolicyText {
  padding-bottom: 24px;
}

.nhsuk-breadcrumb__backlink {
  padding-bottom: 20px
}
