.chargeable-status-banner--green {
  background-color: #007f3b;
  color: #fff;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  font-size: 19px;
}

.chargeable-status-banner-link {
  color: #fff;
  text-decoration: underline;
}

.cookie_info_link {
  &:visited {
    color: #005eb8;
}}

.nhsuk-cookie-banner-heading {
font-size: 2rem;
}
