.eps-modal-overlay {
  padding: 0;
  margin: auto;
  border: 0;
  background: transparent;
  max-width: 700px;
}

.eps-modal-overlay::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.eps-modal-content {
  background: #fff;
  padding: 2rem 50px;
  border-radius: 4px;
  border: 0px;
  text-align: left;
  position: relative;
  max-width: 700px;
  display: block;

  @media (max-width:768px) {
    padding: 2rem;
  }
}

.eps-modal-button {
  width: 35%;
}

// .eps-modal-close-button {
//   position: absolute;
//   top: 0rem;
//   right: 1rem;
//   background: transparent;
//   border-radius: 4px;
//   border: 0px;
//   font-size: 3rem;
//   cursor: pointer;
// }

// .eps-modal-close-button:hover {
//   color: red;
// }

.eps-modal-button-group {
  display: flex;
  justify-content: left;
  gap: 5%;
  margin-top: 2rem;
}
