/* stylelint-disable selector-max-id */
/* stylelint-disable declaration-no-important */

.nhsuk-mobile-menu-container {
    display: block;
}

.nhsuk-mobile-menu-container .nhsuk-header__menu-toggle {
    visibility: visible;
}

.masthead-container {
    flex-grow: 1;
    margin: 0;
}

.nhsuk-header {
    display: flex;
    min-height: 46px;
    max-height: none;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #4d8ecd;
    overflow: visible;
    padding-left: 24px;
    padding-right: 24px;
    // padding-bottom: 10px;
}

.nhsuk-header__logo {
    flex-shrink: 0;

    .nhsuk-header__link {
        display: block;
        width: 3.125rem;
        height: 2.5rem; 

        .nhsuk-logo {
            width: 3.125rem;
            height: 2.5rem;
            border: 0;
        }
    }
}

.combined-logo-and-service-name {
    text-decoration: none;
    margin-right: auto;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    gap: 8px;
    min-width: fit-content;
    
    &:hover {
        text-decoration: none;
        
        .nhsuk-header__transactional-service-name,
        .nhsuk-header__transactional-service-name--link {
            text-decoration: underline;
        }
        
        .nhsuk-logo {
            box-shadow: none;
        }
    }
    
    &:focus {
        position: relative;
        outline: none;
        z-index: 2;
        
        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: -12px;
            right: -6px;
            bottom: -4px;
            border: 4px solid #212b32;
            background-color: #ffeb3b;
            border-radius: 4px;
            z-index: -1;
        }
        
        .nhsuk-header__transactional-service-name,
        .nhsuk-header__transactional-service-name--link {
            color: #212b32;
        }
        
        .nhsuk-logo {
            box-shadow: none;
            
            .nhsuk-logo__background {
                fill: #212b32;
            }
            
            .nhsuk-logo__text {
                fill: #ffeb3b;
            }
        }
    }
    
    .nhsuk-header__transactional-service-name,
    .nhsuk-header__transactional-service-name--link {
        text-decoration: none;
    }
    
    .nhsuk-logo {
        box-shadow: none;
    }
}

.nhsuk-header__transactional-service-name {
    width: auto;
    max-width: 40vw;
    flex-shrink: 0;
    padding: 0;
    margin-right: auto;
    float: initial;

    .nhsuk-header__transactional-service-name--link {
        // display: inline-block;
        // margin-top: 0;
        // margin-bottom: 0;
        font-size: 16px;
        // font-weight: 500;
        // line-height: 1em;
        // vertical-align: middle;
    }
}

.nhsuk-navigation-container {
    // display: flex;
    width: auto;
    max-width: 60%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: flex-end;
    overflow: visible;
    height: 100%;

    @media (max-width: 59.375em) {
        max-width: 70%;
    }

    .nhsuk-navigation {
        width: 100%;
        max-width: 100%;
        flex-shrink: 1;
        margin-bottom: 0 !important;
        height: 100%;
        display: flex;
        align-items: stretch;
    }
}

.icon {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
}

.nhsuk-header__navigation-list {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: right;
    justify-content: right;
    padding-left: 0;
    border-top: none;
    margin: 0;
    gap: 4px;
    list-style: none;

    .nhsuk-header__navigation-item {
        position: relative;
        display: flex;
        height: 100%;
        border-top: none;
        margin-bottom: 0;
        list-style-type: none;
    }

    .nhsuk-header__navigation-link {
        flex-shrink: 0;
        padding: 4px 16px;
        border: none;
        border-width: 4px 0;
        border-style: solid;
        border-color: transparent;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        text-align: end;

        .icon,
        .nhsuk-icon {
            display: block;
            width: 18px;
            height: 18px;
            margin: 0;
        }

        .text + .icon,
        .text + .nhsuk-icon,
        .nhsuk-icon + .text {
            margin-left: 10px;
        }

        &:hover,
        &:visited,
        &:active {
            border-color: transparent;
            background-color: unset;
            color: #ffffff;
        }

        &:focus {
            border-color: transparent transparent #212b32;
            background-color: #ffeb3b;
            color: #212b32;
            fill: #212b32;
            border-radius: 0;

            .nhsuk-icon,
            .nhsuk-icon path {
                fill: #212b32;
            }
        }

        &.nhsuk-header__menu-toggle {
            display: flex !important;
            top: 0;
            height: 100%;
            align-items: center;
            padding: 0 16px;

            @media (max-width: 48.0625em) {
                top: 8px;
            }

            @media (min-width: 48.0626em) and (max-width: 53.125em) {
                align-items: stretch;
            }

            @media (min-width: 53.125em) {
                align-items: stretch;
            }

            .nhsuk-icon {
                position: static;
                width: 24px;
                height: 24px;
                margin-left: 6px;
                transform: rotate(90deg);
                fill: #ffffff ;
            }

            &--expanded {
                .nhsuk-icon {
                    transform: rotate(-90deg);
                }
            }

            &:focus {
                position: relative;
                background-color: #ffeb3b !important;
                color: #212b32 !important;
                border-radius: 0 !important;
                border-bottom: 2px solid #212b32 !important;
                // height: 100%;
                // z-index: 999 !important;
                
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: #212b32;
                    z-index: 1000;
                }
                
                .nhsuk-icon {
                    fill: #212b32 !important;
                }
            }
        }
    }


    .nhsuk-header__drop-down {
        position: absolute;
        left: auto;
        right: -10px;
        margin: 0;
        border-top: none;
        border-bottom: none;
        background-color: transparent;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        min-width: 150px;
        width: auto;
        // margin-top: 38px;
        // margin-top: 20px;
        // top: calc(100% + 15px);

        @media (min-width: 48.0626em) and (max-width: 53.125em) {
            top: 100%;
        }

        @media (max-width: 48.0625em) {
            right: -10px;
            left: auto;
        }

        li, .nhsuk-header__navigation-item {
            border-bottom: 1px solid #4d8ecd;

            a, button, .nhsuk-header__navigation-link {
                background: #005eb8;
                margin: 0;
                border: none;
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .nhsuk-header__drop-down--hidden {
        display: none !important;
    }
}

// Override NHS framework navigation border
@media (min-width: 40.0625em) {
    .nhsuk-navigation {
        border-top: none;
    }
}

// Override NHS framework service link negative margin
.nhsuk-header__link--service {
    margin-bottom: 0;
}

#header-navigation {
    .nhsuk-header__menu-toggle,
    button[class*="menu-toggle"],
    button[aria-controls],
    .nhsuk-header__navigation-item:last-child {
        display: none !important;
    }

    @media (max-width: 59.375em) {
        .nhsuk-header__menu-toggle,
        button[class*="menu-toggle"],
        button[aria-controls],
        .nhsuk-header__navigation-item:last-child {
            display: flex !important;
        }
    }
}
