/* stylelint-disable selector-max-id */
/* stylelint-disable declaration-no-important */

.nhsuk-mobile-menu-container {
    display: block;
}

.nhsuk-mobile-menu-container .nhsuk-header__menu-toggle {
    visibility: visible;
}

.masthead-container {
    flex-grow: 1;
    margin: 0;
}

.nhsuk-header {
    display: flex;
    min-height: 46px;
    max-height: 46px;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #4d8ecd;
    overflow: visible;
    padding-left: 24px;
    padding-right: 24px;
}

.nhsuk-header__logo {
    flex-shrink: 0;
    transform: translateY(-5%) translateX(-1.5rem);
    margin-left: 1rem;

    .nhsuk-header__link {
        display: block;
        width: 3.125rem;
        height: 2.5rem; 

        .nhsuk-logo {
            width: 3.125rem;
            height: 2.5rem;
            border: 0;
        }
    }
}

.combined-logo-and-service-name {
    text-decoration: none;
    margin-right: auto;
    flex-shrink: 0;
    
    &:hover {
        text-decoration: none;
        
        .nhsuk-header__transactional-service-name,
        .nhsuk-header__transactional-service-name--link {
            text-decoration: underline;
        }
        
        .nhsuk-logo {
            box-shadow: none;
        }
    }
    
    &:focus {
        outline: none;
        border: 3px solid #212b32;
        background-color: #ffeb3b;
        padding: 4px 8px;
        margin-left: -8px;
        border-radius: 4px;
        
        .nhsuk-header__transactional-service-name,
        .nhsuk-header__transactional-service-name--link {
            color: #212b32;
        }
        
        .nhsuk-logo {
            box-shadow: none;
            
            .nhsuk-logo__background {
                fill: #212b32;
            }
            
            .nhsuk-logo__text {
                fill: #ffeb3b;
            }
        }
    }
    
    .nhsuk-header__transactional-service-name,
    .nhsuk-header__transactional-service-name--link {
        text-decoration: none;
    }
    
    .nhsuk-logo {
        box-shadow: none;
    }
}

.nhsuk-header__transactional-service-name {
    width: auto;
    max-width: 40vw;
    flex-shrink: 0;
    padding: 0;
    margin-right: auto;
    float: initial;

    .nhsuk-header__transactional-service-name--link {
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1em;
    }
}

.nhsuk-navigation-container {
    display: flex;
    width: auto;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: flex-end;
    overflow: visible;

    .nhsuk-navigation {
        width: 100%;
        max-width: 100%;
        flex-shrink: 1;
        margin-bottom: 0 !important;
    }
}

.icon {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
}

.nhsuk-header__navigation-list {
    display: flex;
    width: 100%;
    align-items: right;
    justify-content: right;
    padding-left: 0;
    border-top: none;
    margin: 0;
    gap: 4px;
    list-style: none;

    .nhsuk-header__navigation-item {
        position: relative;
        display: flex;
        border-top: none;
        margin-bottom: 0;
        list-style-type: none;
    }

    .nhsuk-header__navigation-link {
        flex-shrink: 0;
        padding: 4px 16px;
        border: none;
        border-width: 4px 0;
        border-style: solid;
        border-color: transparent;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        text-align: end;

        .icon,
        .nhsuk-icon {
            display: block;
            width: 18px;
            height: 18px;
            margin: 0;
        }

        .text + .icon,
        .text + .nhsuk-icon,
        .nhsuk-icon + .text {
            margin-left: 10px;
        }

        &:hover,
        &:visited,
        &:active {
            border-color: transparent;
            background-color: unset;
            color: #ffffff;
        }

        &:focus {
            border-color: transparent transparent #212b32;
            background-color: #ffeb3b;
            color: #212b32;
            fill: #212b32;

            .nhsuk-icon,
            .nhsuk-icon path {
                fill: #212b32;
            }
        }

        &.nhsuk-header__menu-toggle {
            display: flex !important;
            top: 4px;

            @media (min-width: 48.0626em) and (max-width: 50em) {
                top: 0px;
            }

            .nhsuk-icon {
                position: static;
                width: 24px;
                height: 24px;
                margin-left: 6px;
                transform: rotate(90deg);
                fill: #ffffff ;
            }

            &--expanded {
                .nhsuk-icon {
                    transform: rotate(-90deg);
                }
            }

            &:focus {
                background-color: #ffeb3b !important;
                color: #212b32 !important;
                border-radius: 4px !important;
                
                .nhsuk-icon {
                    fill: #212b32 !important;
                }
            }
        }
    }


    .nhsuk-header__drop-down {
        left: auto;
        margin: 0;
        top: calc(100% + 10px);

        @media (min-width: 48.0626em) and (max-width: 50em) {
            top: 100%;
        }

        li, .nhsuk-header__navigation-item {
            border-bottom: 1px solid #4d8ecd;

            a, button, .nhsuk-header__navigation-link {
                background: #005eb8;
                margin: 0;
                border: none;
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .nhsuk-header__drop-down--hidden {
        display: none !important;
    }
}


#header-navigation {
    .nhsuk-header__menu-toggle,
    button[class*="menu-toggle"],
    button[aria-controls],
    .nhsuk-header__navigation-item:last-child {
        display: none !important;
    }

    @media (max-width: 50em) {
        .nhsuk-header__menu-toggle,
        button[class*="menu-toggle"],
        button[aria-controls],
        .nhsuk-header__navigation-item:last-child {
            display: flex !important;
        }
    }
}
