@use "nhsuk-frontend/dist/nhsuk" as nhsuk;

// Import your other styles using @use
@use "./EpsModal";
@use "./card";
@use "./footer";
@use "./header";
@use "./rbacBanner";
@use "./patientDetailsBanner";
@use "./patientNotFound";
@use "./prescriptionNotFound";
@use "./prescriptionInformationBanner";
@use "./basicDetailsSearch";
@use "./basicDetailsSearchResultsPage";
@use "./searchforaprescription";
@use "./searchResultsTooMany";
@use "./tabs";


.nhsuk-grid-column-two-thirds {
    padding-left: 1rem;
    padding-right: 1rem;
}


.nhsuk-u-visually-hidden::before::after {
    content: none;
}
