.new-header {
  background-color: #005eb8; 
  min-height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  
  @media (max-width: 768px) {
    padding: 0 16px;
    min-height: 44px;
  }
  
  @media (max-width: 480px) {
    padding: 0 12px;
    min-height: 42px;
  }
}

.new-header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: Frutiger W01, Arial, Sans-serif;
}

.new-header__logo-link {
  text-decoration: none;
  margin-right: auto;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  gap: 8px;
  min-width: fit-content;
  color: white;
  
  &:hover {
    text-decoration: none;
    
    .new-header__service-name {
      text-decoration: underline;
    }
    
    &::after {
      content: '';
      position: absolute;
      left: 23px;
      top: 34px;
      width: 51px;
      height: 2px;
      background-color: #ffffff;
    }
  }
  
  &:focus {
    position: relative;
    outline: none;
    z-index: 2;
    
    &::before {
      content: '';
      position: absolute;
      top: -4px;
      left: -12px;
      right: -6px;
      bottom: -4px;
      border: 4px solid #212b32;
      background-color: #ffeb3b;
      border-radius: 4px;
      z-index: -1;
    }
    
    .new-header__service-name {
      color: #212b32;
    }
    
    .new-header__logo {
      box-shadow: none;
      
      .new-header__logo-background {
        fill: #212b32;
      }
      
      .new-header__logo-text {
        fill: #ffeb3b;
      }
    }
  }
  
  .new-header__service-name {
    text-decoration: none;
  }
  
  .new-header__logo {
    box-shadow: none;
    flex-shrink: 0;
    width: 3.125rem;
    height: 2.5rem;
    border: 0;
    position: relative;
    display: block;
    
    @media (max-width: 768px) {
      width: 2.8rem;
      height: 2.24rem;
    }
    
    @media (max-width: 480px) {
      width: 2.5rem;
      height: 2rem;
    }
  }
}

.new-header__service-name {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
  color: white;
  
  @media (max-width: 768px) {
    font-size: 16px;
  }
  
  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.new-header__logo-background {
  fill: #ffffff;
}

.new-header__logo-text {
  fill: #005eb8;
}

.new-header__nav {
  display: flex;
  width: 100%;
  align-items: right;
  justify-content: right;
  padding-left: 0;
  border-top: none;
  margin: 0;
  gap: 4px;
  list-style: none;

  @media (max-width: 48.0625em) {
    justify-content: flex-start;
    margin-top: 10px;
  }
}

.new-header__nav-item {
  position: relative;
  display: flex;
  border-top: none;
  margin-bottom: 0;
  list-style-type: none;
  height: 46px;
  flex-shrink: 0;
  padding: 0 16px;
  border: none;
  border-width: 4px 0;
  border-style: solid;
  border-color: transparent;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  text-align: end;
  align-items: center;

  .text {
    margin: 0;
  }

  &:hover,
  &:visited,
  &:active {
    border-color: transparent;
    background-color: unset;
    color: #ffffff;
    
    .text {
      text-decoration: underline;
    }
  }

  &:focus {
    border-color: transparent transparent #212b32;
    background-color: #ffeb3b;
    color: #212b32;
    fill: #212b32;
    border-radius: 0;
    outline: none;
    
    .text {
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 0 12px;
  }
}
