.patient-details-banner {
    padding: 1rem;
    color: black !important;
    background-color: #d2edf6 !important;
}

.patient-detail-banner-row {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 0.5rem;
    width: 100%;
    overflow-x: auto; // Allows horizontal scrolling if needed
}

.patient-details-banner.patient-details-partial-data {
    background-color: #ffeb3b !important;
}
