.patient-details-banner {
    padding: 1rem;
    padding-left: 24px;
    color: black;
    background-color: #d2edf6;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.patient-detail-banner-row {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 0rem;
    width: 100%;
    overflow-x: auto;
}

.patient-details-banner.patient-details-partial-data {
    background-color: #ffeb3b;
}
