.prescription-information-banner {
  color: #212b32;
  background-color: #fff; 
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.prescription-information-banner-row {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 0.5rem;
  width: 100%;
  overflow-x: auto;
}

.copy-button {
  background-color: #007f3b;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
}

.nhsuk-u-margin-1 {
  margin: 4px !important;
}
