.prescription-information-banner {
  color: #212b32;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;

  @media (max-width: 640px) {
    padding: 8px 16px;
    margin-left: 0;
    margin-right: 0;
  }
}

.prescription-information-banner-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  row-gap: 0.2rem;
  width: 100%;
  overflow-x: auto;
}

.patient-summary__block {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  white-space: nowrap;
  margin-right: 24px;
}

.prescription-id-block {
  margin-right: 42px;
}

.patient-summary__info {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
  white-space: nowrap;
  text-wrap: nowrap;
  white-space-collapse: collapse;
  box-sizing: border-box;
  color: #212b32;
}

.copy-button-wrapper {
  margin-left: 10px;
}

.copy-button {
  background-color: #007f3b;
  box-shadow: 0 4px 0 #004721;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
}

.nhsuk-button--small {
  font-size: 14px;
  line-height: 1.2;
  padding: 4px 16px;

  @media (max-width: 40.0525em) {
    padding: 3px 12px;
  }
}

.copy-button.nhsuk-button--secondary:not(:focus):not(:active)::before,
.copy-button.nhsuk-button--secondary-solid:not(:focus):not(:active)::before {
  border-color: #007f3b;
}

.copy-button.nhsuk-button--secondary,
.copy-button.nhsuk-button--secondary::after,
.copy-button.nhsuk-button--secondary-solid,
.copy-button.nhsuk-button--secondary-solid::after {
  box-shadow: 0 4px 0 #004721;
}

.copy-button.nhsuk-button--reverse.nhsuk-button--reverse,
.copy-button.nhsuk-button--reverse.nhsuk-button--reverse:visited,
.copy-button.nhsuk-button--reverse.nhsuk-button--reverse:active,
.copy-button.nhsuk-button--reverse.nhsuk-button--reverse:active:visited {
  background-color: #007f3b;
  color: #ffffff;
}

.copy-button.nhsuk-button--reverse.nhsuk-button--reverse:hover,
.copy-button.nhsuk-button--reverse.nhsuk-button--reverse:hover:visited {
  background-color: #00662f;
  color: #ffffff;
}

.copy-button.nhsuk-button--secondary.nhsuk-button--secondary,
.copy-button.nhsuk-button--secondary.nhsuk-button--secondary:visited,
.copy-button.nhsuk-button--secondary.nhsuk-button--secondary:active,
.copy-button.nhsuk-button--secondary.nhsuk-button--secondary:active:visited,
.copy-button.nhsuk-button--secondary-solid.nhsuk-button--secondary-solid,
.copy-button.nhsuk-button--secondary-solid.nhsuk-button--secondary-solid:visited,
.copy-button.nhsuk-button--secondary-solid.nhsuk-button--secondary-solid:active,
.copy-button.nhsuk-button--secondary-solid.nhsuk-button--secondary-solid:active:visited {
  background-color: #007f3b;
  color: #ffffff;
}

.copy-button.nhsuk-button--secondary.nhsuk-button--secondary:hover,
.copy-button.nhsuk-button--secondary.nhsuk-button--secondary:hover:visited,
.copy-button.nhsuk-button--secondary-solid.nhsuk-button--secondary-solid:hover,
.copy-button.nhsuk-button--secondary-solid.nhsuk-button--secondary-solid:hover:visited {
  background-color: #00662f;
  color: #ffffff;
}

.nhsuk-u-margin-1 {
  margin: 0 4px;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#copyText {
  margin-left: 0.25rem;
  white-space: normal;
  word-break: break-word;
}

#summary-status .nhsuk-tag {
  margin-left: 0.25rem;
}
