.nhsuk-card--disabled:not(.nhsuk-card--selected),
.nhsuk-card--disabled:not(.nhsuk-card--selected):hover,
.nhsuk-card--disabled:not(.nhsuk-card--selected):focus {
  pointer-events: none;
  cursor: not-allowed;
}

.disabled-card-link:not(.selected-card-link),
.disabled-card-link:not(.selected-card-link):hover,
.disabled-card-link:not(.selected-card-link):focus {
  color: inherit;
  text-decoration: none;
  pointer-events: none;
  cursor: not-allowed;
}

.nhsuk-card--selected .selected-card-link,
.nhsuk-card--selected .selected-card-link:link,
.nhsuk-card--selected .selected-card-link:visited,
.nhsuk-card--selected .selected-card-link:active {
  color: #7c2d12;
  text-decoration: none !important;
}

.nhsuk-card--selected .selected-card-link:hover,
.nhsuk-card--selected .selected-card-link:focus {
  color: #7c2d12;
  text-decoration: none !important;
}

.nhsuk-card:hover .eps-card__org-name,
.nhsuk-card:hover .eps-card__org-name .nhsuk-heading-s,
.nhsuk-card:focus .eps-card__org-name,
.nhsuk-card:focus .eps-card__org-name .nhsuk-heading-s,
.nhsuk-card .eps-card__org-name:hover,
.nhsuk-card .eps-card__org-name .nhsuk-heading-s:hover,
.nhsuk-card .eps-card__org-name:focus,
.nhsuk-card .eps-card__org-name .nhsuk-heading-s:focus {
  text-decoration: none !important;
}

.nhsuk-card .eps-card__org-name,
.nhsuk-card .eps-card__org-name.nhsuk-heading-s,
.nhsuk-card .nhsuk-heading-s.eps-card__org-name,
.nhsuk-card .eps-card__org-name *,
.nhsuk-card .eps-card__org-name .nhsuk-heading-s,
.nhsuk-card .eps-card__org-name .selected-card-link,
.nhsuk-card .eps-card__org-name a {
  line-height: 1.2; 
}

.nhsuk-card--selected .eps-card__org-name,
.nhsuk-card--selected .eps-card__org-name.nhsuk-heading-s,
.nhsuk-card--selected .nhsuk-heading-s.eps-card__org-name,
.nhsuk-card--selected .eps-card__org-name *,
.nhsuk-card--selected .eps-card__org-name .nhsuk-heading-s,
.nhsuk-card--selected .eps-card__org-name .selected-card-link,
.nhsuk-card--selected .eps-card__org-name a {
  color: #7c2d12;
  text-decoration: none !important;
}
