.patient-search-form-container {
  max-width: 960px;
  margin: 0 auto;
}

.patient-search-main-wrapper {
  padding-top: 32px;
  padding-bottom: 0;
}

.nhsuk-heading-m {
  font-size: 1.5rem;
}

.nhsuk-heading-s {
  margin-bottom: 0;
}

.nhsuk-fieldset__legend--s {
  margin-bottom: 8px;
}

@media (max-width: 61.875em) {
  .nhsuk-main-wrapper--s {
    padding-top: 0px;
    padding-bottom: 24px;
  }

  .patient-search-form-container {
    margin: 0 48px;
  }
}

.nhsuk-header.masthead .nhsuk-header__container {
  margin: 0 16px;
}
