.patient-search-form-container {
  max-width: 960px;
  margin: 0 auto;
}

.patient-search-main-wrapper {
  padding-top: 32px;
  padding-bottom: 0;
}

.nhsuk-heading-m {
  font-size: 1.5rem;
}

.nhsuk-heading-s {
  margin-bottom: 0;
}

.nhsuk-fieldset__legend--s {
  margin-bottom: 8px;
}

.nhsuk-header.masthead .nhsuk-header__container {
  margin: 0 16px;
}

@media (max-width: 61.875em) {
  .patient-search-main-wrapper {
    padding-top: 4px !important;
  }

  .patient-search-form-container {
    margin: 0 28px !important;
    padding-top: 0 !important;
  }

}

@media (max-width: 40.0625em) {
  .patient-search-main-wrapper {
    padding-top: 0 !important;
    padding-bottom: 24px;
  }

  .patient-search-form-container {
    margin: 0 16px !important;
  }

  .nhsuk-heading-m {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    display: block;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
  }
}
