#searchforaprescription {
    .nhsuk-grid-row {
        margin-left:0;
        margin-right:0;
        .nhsuk-grid-column-full{
            padding:0;
        }
    }
}
.search-for-a-prescription{
    > .nhsuk-width-container.hero-container {
       max-width: 100%;
    }
    .hero-wrapper {
       min-width: 100%
    }
    
    .tabs-full-width-container {
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 0;
    }
   }

.search-form-container{
    padding-bottom: 4px;
    margin: 0 16px;
    max-width: 960px;
}

.nhsuk-tab-set {
    text-decoration: underline;
}

.tab-divider {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border-bottom: 1px solid #d8dde0;
    height: 1px;
    background-color: white;
}

.content-wrapper {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #F0F4F5;
}

.content-padding {
    padding: 2rem;
}

.prescription-id-aligned-element {
    max-width: 52%;
    margin-left: -30px;
    margin-bottom: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
