// HEADER --------------------------------------------------------------- //
.masthead {
  border-bottom: 1px solid #93b9dd;
  padding-left: 32px;
  padding-right: 32px;

  &-container {
    margin: 0;
    align-items: center;
    justify-content: space-between;
  }

  &-service {
    flex-grow: 1;
  }

  .nhsuk-header {
    &__navigation-list {
      margin:0;
      border-top:1px solid rgba(255,255,255,.2)
    }
  &__menu {
    position: unset;
    margin: 0;
    float: none;
    justify-self: flex-end;

    &-toggle {
      right: 0;
    }
  }
}

}
@media screen and (min-width: 990px) {
  .masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-container {
      max-width: 960px;
      flex-grow: 1;
      margin: 0;
      display:flex;
    }

    &-nav {
      flex-grow: 0;
      margin: 0;
    }
  .nhsuk-header {
    &__navigation-list {
      align-items: flex-end;
      border-top: 0;
      margin:0;
    }
}
  }

}
